{:description "Structured Logging for your Clojure Project"
 ;; this does not transform the data but does print a message:
 :data-fn me.vedang.logger/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn me.vedang.logger/template-fn
 ;; this does not post-process the project but does print a message:
 :post-process-fn me.vedang.logger/post-process-fn
 :transform
 [["build" ""
   {"deps.tmpl"  "deps.edn"
    "project.tmpl" "project.clj"}
   :only]
  ["src" "src/{{top/file}}/{{main/file}}"
   {"main.tmpl" "interface.clj"}]
  ["resources" "resources/{{main/file}}"
   {"log4j2-dev.tmpl" "log4j2-dev.xml"
    "log4j2-prod.tmpl" "log4j2-prod.xml"}]]}
