<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="{{top/ns}}.Logging">
  <Properties>
    <Property name="filename">logs/dev.log</Property>
  </Properties>
  <Filter type="ThresholdFilter" level="${sys:logging.level}"/>

  <Appenders>
    <File name="File" fileName="${filename}" bufferedIO="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %X%msg%n" />
    </File>
    <Console name="Console">
      <JsonLayout eventEol="true" compact="true" complete="false" properties="true"/>
    </Console>

    <Async name="AsyncFileAppender" includeLocation="false">
      <AppenderRef ref="File" />
    </Async>
    <Async name="AsyncConsoleAppender" includeLocation="false">
      <AppenderRef ref="Console" />
    </Async>

  </Appenders>

  <Loggers>
    <Root level="${sys:logging.level}">
      <AppenderRef ref="AsyncConsoleAppender"/>
      <AppenderRef ref="AsyncFileAppender"/>
    </Root>

    <!-- Configure logging level for external libraries  -->
    <Logger name="com.zaxxer.hikari" level="ERROR" additivity="false">
      <AppenderRef ref="AsyncConsoleAppender" />
      <AppenderRef ref="AsyncFileAppender"/>
    </Logger>
    <Logger name="io.netty.util" level="WARN" additivity="false">
      <AppenderRef ref="AsyncConsoleAppender" />
      <AppenderRef ref="AsyncFileAppender"/>
    </Logger>
    <Logger name="org.eclipse.jetty" level="WARN" additivity="false">
      <AppenderRef ref="AsyncConsoleAppender" />
      <AppenderRef ref="AsyncFileAppender"/>
    </Logger>
    <Logger name="io.pedestal" level="INFO" additivity="false">
      <AppenderRef ref="AsyncConsoleAppender" />
      <AppenderRef ref="AsyncFileAppender"/>
    </Logger>
    <Logger name="org.apache.http" level="WARN" additivity="false">
      <AppenderRef ref="AsyncConsoleAppender" />
      <AppenderRef ref="AsyncFileAppender"/>
    </Logger>

  </Loggers>
</Configuration>
